article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;
    

}

div {
    flex:0 0 100px;
}

div:first-child{
    color: red;
    flex:0 2 auto;

    order:2;

}

#masodik {
    order:10;
}